*{
	margin:0;
	padding: 0;
}
body{
    font-family: "Roboto";
}
.encabezado{
	width: 100%;
	position: relative;
	bottom: 250px;
}
.button{
	background:#17BDD1;
	color:#fff;
	display: inline-block;
	font-size: 20px;
	margin:20px;
	padding: 10px 0px;
	text-align: center;
	text-decoration: none;
	width: 200px;
	box-shadow: 0px 3px 0px #373c7c;	
}

.button .submit{
	width: 160px;
	margin: auto;
	background: rgb(0,0,0,0.7);
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	border:none;
}
.button.siguitente{
	position: relative;
	float: right;
}
.button.radius{
	border-radius: 40px;
}

.button:hover{
	box-shadow: 0px 0px 0px;
	padding-top: 7px;
}
.tabla{
	width: 98%;
	font-family: sans-serif;
	max-width: 100%;
	margin: auto;
	margin-top: 10px;
	padding: 10px;
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.3);
	position: relative;
	bottom: 450px;
}
table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	padding: 10px;
}
th,td{
	padding: 3px;
}
thead{
	background-color: #2B8AAD;
	border-bottom: solid 5px #070C3D;
	color: white;
}
tr:nth-child(even){
	background-color: #ddd;
}